

PORT=3003

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/workbench/webhooks/we_1QAyQnRrrU3eN4MXo3ZdfSY0?event=evt_3QAyk8RrrU3eN4MX02IRY5xC
# This is the signature secret for the webhook endpoint
STRIPE_ENDPOINT_SECRET=

# NATS_SERVERS="nats://localhost:4222,nats://localhost:4223"
NATS_SERVERS="nats://localhost:4222"